body{
font-family:Arial;
background:#0f172a;
color:white;
margin:0;
padding:20px;
}

.app{
max-width:900px;
margin:auto;
}

.panel{
background:#1f2937;
padding:20px;
margin-bottom:20px;
border-radius:10px;
}

button{
padding:10px 15px;
margin:5px;
border:none;
border-radius:6px;
background:#38bdf8;
cursor:pointer;
}

button:hover{
opacity:.8;
}